.container {
  background: 
    radial-gradient(circle at 0% 35%, rgba(96, 255, 202, 0.32) 10%, rgba(255,83,192,0) 60%),
    radial-gradient(circle at 100% 65%, rgba(255,83,192,0.32) 10%, rgba(255,83,192,0) 60%),
    linear-gradient(170.53deg, #2E1371 2.71%, #130B2B 97.75%);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  margin-top: 0;
}

.form {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.search {
  display: block;
  width: 100%;
  background: rgba(118, 118, 128, 0.12);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6)
  }
}
